body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 251, 0);
    color: rgb(0, 0, 0);
    padding: 25px;
    font-style: oblique;
}

.menu{
    display: flex;
    gap: 25px;
}

.menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu a:hover{
    background-color:rgb(119, 119, 119);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background:linear-gradient(to right, rgb(151, 217, 240), rgb(0, 89, 255));
  color: white;
  text-align: center;
}

aside{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction:row;
    gap: 10px;
    padding: 20px;
}
aside p{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 50px;
    padding: 35px;
}

aside img{
    max-width: max-content;
    max-height: 500px;
    padding: 20px;
    padding-left: 35px;
    flex-direction: row;
}
main {
    text-align:center;
}

.conteudo{
    display: flex;
    gap: 20px;
}

.conteiner{
    justify-content: center;
    align-items: center;
    display: flex;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;

}


/* PÁGINA CONTATOS */

form{
    display: flex;
    flex-direction:column;
    gap: 15px;
    background: white;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.field{
    display: flex;
    flex-direction: column;
    flex: 1 1 50px;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, textarea{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea{
    resize: vertical;
}

.actions{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

button{
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit{
    background: rgb(113, 122, 122);
    color: white;
}

.reset{
    background-color: rgb(114, 111, 111);
}

.submit:hover{
    background-color:rgb(196, 236, 132);

}

.contato{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contato h2{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contato h4{
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* PAGINA DESTINOS0 */

.cards{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}

.card{
    padding: 20px;
    flex: 1 1 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card img{
    width: 700px;
    height: 400px;
    
}

h3{
    text-align: center;
}

h2{
    text-align: center;
}

.content p{
    text-align: center;
    font-size: large;
    padding: 20px;
}

.layout{
    display: flex;
    gap: 20px;
}